* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #d6d6d6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #373737;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 10px 0 0;
}

a {
    color: #373737;
}

section {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #d6d6d6;
}

ul {
    list-style: none;
}

ul li {
    padding: 10px 0;
    font-size: 18px;
}

.project, .experience {
    margin-bottom: 20px;
}

footer {
    background:  #d6d6d6;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
